@use "./../../styles/typography" as *;


.team__employee-card {
    background: green;
    padding: 2rem 1rem;

    .team__employee-card-text {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-family: $text-font;
        font-weight: 700;

        &--special {
            font-family: $title-font;
            color: #fff;
            font-size: 1.5rem;
        }
    }
}

.team__employee-card-button {
    padding: 0.5rem 0.8rem;
    margin: 0.3rem;
    background: darkgreen;
    border: none;
    box-shadow: 3px 3px black;
    font-size: 1.2rem;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}
